body{
margin:0;
font-family:Arial;
background:#f2f2f2;
}

.contenedor{
max-width:700px;
margin:auto;
padding:20px;
}

h1{
text-align:center;
}

input,select{
width:100%;
padding:12px;
margin-bottom:10px;
border-radius:10px;
border:1px solid #ccc;
box-sizing:border-box;
}

.agregar{
background:white;
padding:15px;
border-radius:10px;
margin-bottom:15px;
}

#agregarBtn{
width:100%;
padding:12px;
border:none;
border-radius:10px;
cursor:pointer;
}

.stats{
background:white;
padding:10px;
border-radius:10px;
margin-bottom:15px;
display:flex;
justify-content:space-between;
}

.jugador{
background:white;
padding:15px;
border-radius:10px;
margin-bottom:10px;
display:flex;
justify-content:space-between;
align-items:center;
border:3px solid transparent;
}

.completado{
border-color:#2ecc71;
}

.sinCompletar{
border-color:#e74c3c;
}

.estado{
font-weight:bold;
padding:5px;
border-radius:5px;
margin-right:8px;
}

.estado-tengo{
color:#2ecc71;
}

.estado-falta{
color:#e74c3c;
}

.botones button{
padding:8px;
border:none;
margin-left:5px;
border-radius:8px;
cursor:pointer;
}

.tengo{
background:#2ecc71;
color:white;
}

.falta{
background:#e74c3c;
color:white;
}

.borde-Argentina{ border-color:#6cace4; }
.borde-Brasil{ border-color:#009c3b; }
.borde-Francia{ border-color:#0055a4; }
.borde-España{ border-color:#aa151b; }
.borde-Portugal{ border-color:#006600; }
.borde-Alemania{ border-color:#000000; }
.borde-Italia{ border-color:#009246; }
.borde-Inglaterra{ border-color:#ce1124; }
.borde-Países-Bajos{ border-color:#ff6600; }
.borde-Bélgica{ border-color:#ffd90c; }
.borde-México{ border-color:#006847; }
.borde-Estados-Unidos{ border-color:#3c3b6e; }
.borde-Canadá{ border-color:#ff0000; }
.borde-Japón{ border-color:#bc002d; }
.borde-Corea-del-Sur{ border-color:#003478; }
.borde-Marruecos{ border-color:#c1272d; }
.borde-Uruguay{ border-color:#0038a8; }